In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('suicide-rates-overview-1985-to-2016/master.csv')

In [4]:
data['country'].unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [5]:
country_id = pd.read_csv('8827699-7255fdfbf292c592b75cf5f7a19c16ea59735f74/countries_codes_and_coordinates.csv')
country_id['Country_key'] = country_id['Alpha-3 code'].apply(lambda x: str(x).replace('"',''))
country_id = country_id[['Country','Country_key']]

In [6]:
data_merge = pd.merge(data, country_id, left_on='country',right_on= 'Country', how='left')

In [7]:
data_merge.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,Country,Country_key
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,Albania,ALB
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,Albania,ALB
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,Albania,ALB
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,Albania,ALB
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,Albania,ALB

In [8]:
data = data_merge[['country','Country_key','year','sex','age','population','suicides/100k pop', 'gdp_per_capita ($)','generation']]

In [9]:
data.to_csv('suicide_data.csv')

In [8]:
output[output['Country_key'] == '"JPN"']

Empty DataFrame
Columns: [country, Country_key, year, sex, age, population, suicides/100k pop, gdp_per_capita ($), generation]
Index: []

In [61]:
output['Country_key'].unique()

array([' ALB', ' ATG', ' ARG', ' ARM', ' ABW', ' AUS', ' AUT', ' AZE',
       ' BHS', ' BHR', ' BRB', ' BLR', ' BEL', ' BLZ', ' BIH', ' BRA',
       ' BGR', nan, ' CAN', ' CHL', ' COL', ' CRI', ' HRV', ' CUB',
       ' CYP', ' CZE', ' DNK', ' ECU', ' SLV', ' EST', ' FJI', ' FIN',
       ' FRA', ' GEO', ' DEU', ' GRC', ' GRD', ' GTM', ' GUY', ' HUN',
       ' ISL', ' IRL', ' ISR', ' ITA', ' JAM', ' JPN', ' KAZ', ' KIR',
       ' KWT', ' KGZ', ' LVA', ' LTU', ' LUX', ' MDV', ' MLT', ' MUS',
       ' MEX', ' MNG', ' MNE', ' NLD', ' NZL', ' NIC', ' NOR', ' OMN',
       ' PAN', ' PRY', ' PHL', ' POL', ' PRT', ' PRI', ' QAT', ' ROU',
       ' RUS', ' LCA', ' SMR', ' SRB', ' SYC', ' SGP', ' SVK', ' SVN',
       ' ZAF', ' ESP', ' LKA', ' SUR', ' SWE', ' CHE', ' THA', ' TTO',
       ' TUR', ' TKM', ' UKR', ' ARE', ' GBR', ' USA', ' URY', ' UZB'],
      dtype=object)